<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/about.css" />
  </head>
  <body>
    {{>header}}
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              itaque ipsum adipisci! Voluptates ullam, illum deleniti explicabo
              ducimus accusamus commodi placeat, esse sit quas reiciendis modi
              saepe ab deserunt nisi, et velit itaque eius.
            </p>
            <div class="button">
              <a href="">Read More</a>
            </div>
          </div>
          <div class="social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="image-section">
          <img src="team.jpeg" alt="" />
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>