<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/contact.css" />
    <title>Contact Us</title>
  </head>
  <body>
    {{>header}}
    <div class="contactUs">
      <div class="title">
        <h2>Get in Touch</h2>
      </div>
      <div class="box">
        <!-- Form -->
        <div class="contact form">
          <h3>Send a Message</h3>
          <div class="formBox">
            <div class="row50">
              <div class="inputBox">
                <span>First Name</span>
                <input type="text" placeholder="John" />
              </div>

              <div class="inputBox">
                <span>Last Name</span>
                <input type="text" placeholder="Doe" />
              </div>
            </div>

            <div class="row50">
              <div class="inputBox">
                <span>Email</span>
                <input type="text" placeholder="johndoe@gmail.com" />
              </div>

              <div class="inputBox">
                <span>Mobile</span>
                <input type="number" placeholder="+91 987 654 3210" />
              </div>
            </div>

            <div class="row100">
              <div class="inputBox">
                <span>Message</span>
                <textarea placeholder="Write your message here..."></textarea>
              </div>
            </div>

            <div class="row100">
              <div class="inputBox">
                <input type="submit" value="Send" />
              </div>
            </div>
          </div>
        </div>

        <!-- info Box -->
        <div class="contact info">
          <h3>Contact Info</h3>
          <div class="infoBox">
            <div>
              <span><ion-icon name="location"></ion-icon></span>
              <p>Sankalp Tower,Ahmedabad <br />INDIA</p>
            </div>
            <div>
              <span><ion-icon name="mail"></ion-icon></span>
              <a href="mailto:startupinvest@gmail.com"
                >startupinvest@gmail.com</a
              >
            </div>
            <div>
              <span><ion-icon name="call"></ion-icon></span>
              <a href="tel:+919876543210">+91 987 654 3210</a>
            </div>
            <!-- social media link -->
            <ul class="sci">
              <li>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Map Box -->
        <!-- <div class="contact map"></div> -->
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    {{>footer}}
  </body>
</html>