<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- google Font candal & Lora-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap"
      rel="stylesheet"
    />

    <!-- Custom Styling -->
    <!-- <link rel="stylesheet" href="header.css" /> -->
    <link rel="stylesheet" href="./css/regheader.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1 class="logo-text"><span>Startup</span> & Investor's Meet</h1>
      </div>
      <ul class="nav">
        <!-- <li class="search">
          <input type="search" placeholder="Search" />
        </li> -->
        <li><a href="contactus.html">contact us</a></li>
        <li><a href="#">about us</a></li>
      </ul>
    </header>
  </body>
</html>