@import url('https:// fonts.googleapis.com/css family=poppins:200, 300, 400, 500, 600, 700, 800, 900 &display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body{
background: linear-gradient(90deg, rgb(228, 147, 48) 0%,rgb(228, 147, 48) 30%,rgb(216, 162, 96) 30%,rgb(216, 162, 96) 100%);

}

/* using this devide two part of color background */
.contactUs
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2{
    color: #fff;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    position: map;
}

.contact{
 padding: 40px;
 background: #fff;
 box-shadow: 0 5px 35px rgba(0,0,0,0.15);

}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info";
    /* "form map"; */
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #72490b;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;

}

/* form */
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50
{
    display: flex;
    gap: 20px;
}

.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #bd8722;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
   padding: 3px;
   font-size: 1.1em;
   outline: none;
   border: 1px solid #333;
}

.inputBox textarea{
padding: 5px;
font-size: 1.1em;
outline: none;
border: 1px solid #333;
resize: none;
min-height: 150px;
margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: #723707;
    color: #fff;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 200;
    cursor:pointer;
    padding: 7px 7px;
}

.inputBox ::placeholder{
    color: #999;
}

/* info */
.info{
    /* full background */
background:#fff;
}

.info h3{
    /* text color */
    color: #000;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
 min-width: 40px;
 height: 40px;
 /* icon color and background */
 color: #000;
 background-color: rgb(192, 181, 181);

 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.5em;
 border-radius: 50%;
 margin-right: 15px;
}

.info .infoBox div p{
    /* text color of address */
    color: #000;
    font-size: 1.1em;
}

.info .infoBox div a{
    /* link color */
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
}

/* for links */
.sci{
    margin-top: 40px;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #000;
    font-size: 2em;
    color: rgb(121, 109, 109);
}

.sci li a:hover{
    color: #333;
}

/* responsive display */
@media(max-width: 991px) {
    body{
background: rgb(228, 147, 48);

    }
    .contactUs{
        padding: 20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info";
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .infoBox{
        
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
}