*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora',serif;
}
header{
background : bisque;
height: 66px;
}

header *{
color : #383535;

}
header .logo{
    float: left;
    height: inherit;
}


header .logo-text{
    margin-top: 15px;
    margin-left: 2em;
    font-family: 'Candal',serif;
    font-size: 25px;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;

}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

input[type=search]{
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 20px;
    height: 30px;

}

header ul li a:hover{
background-color : rgb(218, 178, 129);
transition: 0.5s;
}
header .menu-toggle{
    display: none;
}

/* media Queries */
@media only screen and (max-width:750px){
    header ul{
        width: 100%;
        background : bisque;

    }
    header ul li{
        width: 100%;
    }

    header ul li .search{
        position: static;
        display: block;
        width: 100%;
    }
header .menu-toggle {
        display: block;
    }
}