<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registration</title>
        <link rel="stylesheet" href="./css/registration.css" />
    </head>
    <body>
        {{>regheader}}
        <section>
            <div class="box">
                <div class="form">
                    <h2>Sign Up</h2>

                    <form action="/registration" method="POST">
                        <!-- check box for startup and Inventory -->
                        <div class="checkbox">
                            <td>
                                <input
                                    type="radio"
                                    name="User"
                                    value="Company"
                                    required
                                />

                                <label>Startup Company</label>

                                <br />

                                <input
                                    type="radio"
                                    name="User"
                                    value="Investor"
                                    required
                                />
                                <label>Investor</label>
                            </td>
                        </div>
                        <br />

                        <!-- For Company Name -->
                        <div class="inputBx">
                            <input
                                type="text"
                                name="name"
                                placeholder="Name"
                                required
                            />
                            <img src="./image/company.png" />
                        </div>

                        <!-- Company Email Address -->
                        <div class="inputBx">
                            <input
                                type="text"
                                name="email"
                                placeholder="Email Address"
                                required
                            />
                            <img src="./image/email.png" />
                        </div>

                        <!-- For Location -->
                        <div class="inputBx">
                            <input
                                type="text"
                                name="Address"
                                placeholder="Address"
                                required
                            />
                            <img src="./image/location.png" />
                        </div>

                        <!-- For Select state , City and Zip code -->
                        <div class="control-group">
                            <div class="col-md-4">
                                <label style="margin-left: 20px">State</label>
                                <select
                                    id="s1"
                                    name="state"
                                    style="width: 90px; height: 37px"
                                    required
                                >
                                    <option disabled selected>Select state</option>
                                    <option>Gujarat</option>
                                    <option>Goa</option>
                                    <option>Assam</option>
                                    <option>Bihar</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label style="margin-left: 20px">City</label>
                                <select
                                    id="s1"
                                    name="city"
                                    style="width: 90px; height: 37px"
                                    required
                                >
                                    <option disabled selected>Select city</option>
                                    <option>Deesa</option>
                                    <option>Palanpur</option>
                                    <option>Ahmedabad</option>
                                    <option>Surat</option>
                                </select>
                            </div>

                            <div class="inputBx">
                                <label style="margin-left: 20px">Zip Code</label>
                                <input
                                    id="s1"
                                    name="zip"
                                    style="width: 141px"
                                    type="number"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength="6"
                                    placeholder="Type here"
                                    required
                                />
                            </div>
                        </div>

                        <!-- For Password And Confirm Password -->
                        <div class="inputBx">
                            <input
                                type="password"
                                name="password"
                                placeholder=" Password"
                                required
                            />
                            <img src="./image/lock.png" />
                        </div>

                        <div class="inputBx">
                            <input
                                type="password"
                                name="confirmpassword"
                                placeholder="Confirm Password"
                                required
                            />
                            <img src="./image/lock.png" />
                        </div>

                        <!-- Sign up Button -->
                        <div class="inputBx">
                            <input type="submit" value="Sign Up" />
                        </div>
                    </form>

                    <!-- already have login -->
                    <p>If You already <a href="Login">Login</a></p>
                </div>
            </div>
        </section>
    </body>
</html>